body {
    background-color: #cfd0cf;
    margin: auto;
}

.game_header {
    text-align: center;
    color: #434344;
    line-height: 47px;
    font: bold 42px Arial, sans-serif;
}

.game_field {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    background: linear-gradient(45deg, #22ab93, #16668d);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.card:hover {
    opacity: 0.9;
}