body {
    background-color: #cfd0cf;
    margin: auto;
    -webkit-user-select: none;
}


.game_header {
    text-align: center;
    color: #434344;
    line-height: 47px;
    font: bold 42px Arial, sans-serif;    
}

.game_field {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.game_field > div {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    perspective: 600px;
}

.game_field > div:hover {
    opacity: 0.9;
}

.card_closed {
    background: linear-gradient(45deg, #22ab93, #16668d);
}

.card_opened {
    text-align: center;
    background: white;
    font-size: 75px;
}

.cards_are_same {
    background-color: #5AD66F;
    pointer-events: none;
}

.cards_are_different {
    background-color: #F44336;
    pointer-events: none;
}

.timer {
    text-align: center;
    color: #434344;
    line-height: 36px;
    font: bold 32px Arial, sans-serif;

}

.fade {
    display: none;
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main_menu {
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color: #434344;
    z-index: 2;
}

.result_window {
    margin: auto;
    min-width: 350px;
    background-color: white;
    text-align: center;
}

.text_result {
    color: #434344;
    line-height: 58px;
    font: bold 48px Arial, sans-serif;
    padding: 30px 25px 10px 25px;
}

.play_again_button {    
    color: white;
    font: bold 20px Arial, sans-serif;
    padding: 10px 30px;
    margin: 30px;
    background: linear-gradient(90deg, #16668d, #22ab93);
    border: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    outline: none;
}

.play_again_button:active {
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

@keyframes animate_game_result_message {
    100% {
        transform: scaleY(1.40) translateY(-10px);
    }
}
